
#search_bar {
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    background: transparent;
    outline-style: none;
    color: white;
    background-image: url("../images/search_button.png");
    background-position: 1px 1px top left;
    padding: 5px 2px 7px 40px;
    background-repeat: no-repeat;
    background-size: contain;
    /*background-size: 2%;*/
    width: 85%;
}
#search_bar:focus {
    border-bottom: 1px solid white;
}
input::-webkit-input-placeholder {
    color: rgb(102, 102, 102);
    font-size: 1.3em;
}
input:-moz-placeholder {
    color: rgb(102, 102, 102);
    font-size: 1.3em;
}
input:-ms-input-placeholder {
    color: rgb(102, 102, 102);
    font-size: 1.3em;
}
.supervisee_list {
    height: 82%;
    width: 80%;
    /* border: 1px solid red; */
}
#delete_button {
    height: 30px;
    width: 30px;
}
/*div{
	border: 1px solid white;
}*/
section {
    color: white;
    display: flex;
    height: 500px;
    margin: 0 auto;
    padding-top: 50px;
}
.profile_container, .list_container {
    flex-grow: 1;
    text-align: center;
}
.profile_container {
    width: 10%;
}
.list_container {
    /* border:1px solid blue; */
    color: white;
    height: 135%;
    width: 65%;
}
.search_bar {
    height: 5%;
    text-align: left;
}
.supervisee_details, .supervisee_title {
    /* border: 1px solid green; */
    /*border-radius: 10px;*/
    color: white;
    display: inline-flex;
    height: 12%;
    width: 100%;
}
.user_details {
    height: 100%;
    text-align: center;
    width: 30%;
}
#heading_container{
    padding-left: 2%;
}
#list_heading {
    text-align: left;
}
.supervisee_even {
    background-color: #3d3d3d;
}
.supervisee_odd {
    background-color: #424242;
}
.supervisee_title{
    background-color: #2C2C2C;
    height: 9%;
}
.scroll{
    height: 90%;
}