#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

#uname    /*styling for username field*/
{
	background-color: transparent;
	background-image: url(../images/username.png);
	background-position: 2% 30%;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	border: none;
	border-bottom: solid 1px #696969;
	color : #FFF;
	padding:0 0 3px 25px;
	width:280px;
}
#psw  /*styling for password field*/
{
	background-color: transparent;
	background-image: url(../images/password.png);
	background-position: 2% 30%;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	border: none;
	border-bottom: solid 1px #696969;
	color : #FFF;
	padding:0 0 3px 25px;
	width:280px;

}
#uname:focus,#psw:focus
{
	outline: none;
}	
input[type=checkbox]   /*custom checkbox*/
{
	visibility: hidden;
}
#checkbox       /*custom checkbox*/
{
	border: solid 1px #696969;	
	height: 15px;
	position: relative;
	top:-17px; 
	width: 15px;

}
div label       /*custom checkbox*/
{	
	/*border-radius: 100px;*/
	cursor: progress;
	height: 8px;
	left: 3.5px;
	position: absolute;
	top: 4px;
	width: 8px;
}
#checkbox input[type=checkbox]:checked+ label  /*custom checkbox*/
{
	background-color: #FFF;
}
/*#user
{
	margin: 0 0 20px 0;
}
#password
{
	margin: 40px 0 20px 0;
}
#login
{
	margin: 40px 0 30px 0;
}
*/
.login_fields /*alignment : login form fields*/
{
	margin: 25px 0 30px 0;
}	
#login_button  /*login button*/
{
	background-color: #d62425;
	border:2px solid rgb(229, 56, 57);
	border-radius: 10px;
	color:#ffffff;
	font-family: "SapientCentroSlab";
	font-size: 16px;
	height: 50px;
    width: 300px;
}
    
div a,div span  /*styling for Remember Me and Forgot Password*/
{
   	color : #FFF ;
   	padding: 0 0 0 30px;
   	text-decoration: none;
}
.container /*the complete division containing two subdivisions 'topic' and 'login'*/
{
	display: flex;
	margin:200px 0 0 0;
	width:100%;
}

.topic /*alignment : complete division for title and logo*/
{
	 color: rgba(255,255,255,1);
	 margin: 0 100px 0 0;
	 width: 49%;
}

.login  /*alignment : complete division for login form */
{
	margin:0 0 0 50px;
	width: 40%;
}

#logo /*'SAPIENT NITRO' logo above 'COMPETENCY MATRIX'*/
{
	max-height:25%;
	max-width: 25%;
}
h1  /*styling for the 'COMPETENCY MATRIX'*/
{
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	font-size: 4em;
	line-height: 5px;
}
section
{
  	margin:auto;
}
