section{
	/*background-image: url(../images/background.png);*/
	height:100%;
	width:100%;
	}
#main_container{
	margin:auto;
	display:flex;
	/*flex-direction: row;*/
	border:2px solid blue;
	height:500px;
	width: 80%;

}
footer {
	width:100%;
	height:2%;
	background-color: #ff0000;
	 
}
#Details{
	/*margin: 40% 50% 40% 10%;*/
	flex-grow:1;
	 /*flex-shrink: 1;*/


}
#copyright{
	font-size: 16px;
	font-family: "SapientCentroSlab";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
}
#Project_Name{
	font-family: "SapientCentroSlab";
	color: blACK/*rgb(255, 255, 255)*/;
	text-transform: uppercase;
	line-height: 1;
	text-align: left;
	-moz-transform: matrix( 0.32665519356999,0,0,0.32683984650172,0,0);
	-webkit-transform: matrix( 0.32665519356999,0,0,0.32683984650172,0,0);
	-ms-transform: matrix( 0.32665519356999,0,0,0.32683984650172,0,0);
	font-size: 3em;
	display: block;
	/*position: absolute;*/
}
#logo{
	height:17px;
    width:50px;
    padding-left: 0;
    padding-top: 0;
    display: block;

}
#login{
  border:2px solid black;
  flex-grow:1;
  /*flex-shrink: 1;*/
  padding:150px 50px 100px 50px;

}
input[type=text], input[type=password]{
	border:none;
	border-bottom: solid 2px black;
	padding:2px;
}
input[type=image]{
	height:10px;
	width:10px;
	padding:8px;
}