input[type=text]
{
	background-image: url(../images/username1.png);
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: 2% 30%;
	border: none;
	border-bottom: solid 1px #FFF;
	background-color: transparent;
	padding:0 0 3px 25px;
	width:280px;
}
input[type=password]
{
	background-image: url(../images/password.png);
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: 2% 50%;
	border: none;
	border-bottom: solid 1px #FFF;
	background-color: transparent;
	padding-left:25px;
	width:280px;

}


/*
.usernameandpassword{
			
			background-position: 2% 50%;
			background-size: 12px 12px;
			background-repeat: no-repeat;
			padding:8px;
			border: none;
			border-bottom: solid 1px #FFF;
			background-color: transparent;
			height: 20px;
			width: 250px;
			color: rgba(255,255,255,1);
			margin: 10px 25px 25px 10px;
			font-family: 'Raleway', sans-serif;
		}
*/
		#login
		{
			margin-top: 20px;
			margin-bottom: 20px;
		}

		#remember1
		{
			margin-top:20px; 
		}



		#user
		{
			margin-bottom: 20px;
		}
		
		#password
		{
			margin-top: 40px;
			margin-bottom: 20px;
		}



		#username:focus,#Rounded_Rectangle_1:focus{
			outline: none;

		}

		#login_image{
			height: 50px;
	        width: 300px;
	        margin-top: 20px;

		}
		.small_icons{
	height: 10px;
	width: 10px;
}
     #remember{
     	color:#FFF;
     	padding:8px;
     	margin-top:20px;

     }
     div a{

     	color :#FFF ;
     	text-decoration: none;
     }

.container{
	display: flex;
	width:100%;
	margin-top: 200px;
}

.topic{
	 color: rgba(255,255,255,1);
	 width: 49%;
	 margin-right: 100px;
}

#Rounded_Rectangle_1 {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(229, 56, 57);
  border-radius: 5px;
  background-image: -moz-linear-gradient( -90deg, rgb(222,39,40) 0%, rgb(208,34,35) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(222,39,40) 0%, rgb(208,34,35) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(222,39,40) 0%, rgb(208,34,35) 100%);
	float: right;
	margin-right: 45px;
  width: 135px;
  height: 30px;
  z-index: 22;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: auto;
}

		.login{
			
			width: 49%;


		}
		header{
			height: 0px !important;
		}

#logo{
	
	max-width: 25%;
	max-height:25%;
}
h1{
	font-size: 4em;
	line-height: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
