.modal {
	    background-image: url("../images/Layer 28.png");
	    display: none;
	    height:100%;
	    left: 0px;
	    opacity: 0.8;
	    position: absolute;
	    top: 0px;
	    width: 100%;
	    z-index: 119;
}
.inside_modal{

	border-radius: 15px;

	background-color: rgb(66, 66, 66);
	height: 150px;
	margin: auto;
	padding: auto;
	width: 250px;
	z-index: 121;
}
p{

	 font-size: 32px;
  font-family: "SapientCentroSlab";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
	
}
body{
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/26/8b/4b/268b4b3a2bb1591f3afe18ffbb4903f2.jpg');
}
label{
	display: flex;
}
button{
 background-image: background-image: -webkit-linear-gradient(left, rgb(222, 39, 40) 0%, rgb(208, 34, 35) 100%);
 background-image: background-image: -o-linear-gradient(left, rgb(222, 39, 40) 0%, rgb(208, 34, 35) 100%);
 background-image: background-image: linear-gradient(to right, rgb(222, 39, 40) 0%, rgb(208, 34, 35) 100%);
 background-image: -ms-linear-gradient( -90deg, rgb(222, 39, 40) 0%, rgb(208, 34, 35) 100%);
 background-image: -webkit-linear-gradient( -90deg, rgb(222, 39, 40) 0%, rgb(208, 34, 35) 100%);
 border-color: rgb(229, 56, 57);
 border-radius: 5px;
 border-style: solid;
 border-width: 2px;
 color: #fff;
 font-family: 'Raleway',
 sans-serif;
 height: 30px;
 margin: auto;
 text-align: center;
 text-transform: uppercase;
 width: 85px;
 z-index: 22;

 }