section, .skills{
	display: flex;
}

section{
	padding-top: 50px;
	height: 500px;	
	margin-top: 100px;	
}

.skills{
	height: 450px;
	width: 100%;
	justify-content: space-between;
}


.container{
	flex-grow: 1;
}
.container, .skills-sec{
	flex-shrink: 1;
	text-align: center;
}
.skills-sec{
	width: 49%;
}
.skills-sec-content{
	background-color: #424242;
	height: 430px;
	border-radius: 4px;
}
.skills-sec-heading{
	text-align: left;
	margin-left: 5%;
	color: white;
}
.container:last-of-type{
	flex-grow: 2;
}

.back-button{
	text-align: left;
	height: 50px;
}
.skills-sec-content ul li{
	list-style: none;
	border-bottom: 1px solid #515151;
}
.skills-sec-content ul{
	margin: 0px;
	padding: 0px;
}

.skill-item{
	flex-grow: 6;
	color: white;
	text-align: left;
	margin-top: 10px;
}
.skill-level{
	flex-grow: 1;
	color: white;
	background: -webkit-radial-gradient( #569406,#5c9b0a);
	border-radius: 4px;
	height: 20px;
	margin-top: 10px;
}
.list-element{
	display: flex;
	padding: 10px;
	height: 40px;
}

