	section, .skills{
		display: flex;
		width: 80%;
		margin:auto;
		border: 2px solid blue;
	}

	section{
		height: 500px;
	}

	.skills{
		height: 450px;
		width: 100%;
		justify-content: space-between;
	}

	.container{
		flex-grow: 1;
	}

	.container, .skills-sec{

		flex-shrink: 1;
		text-align: center;
	}
	.skills-sec{
		background-color: #424242;
		border-radius: 4px;
		width: 49%;
	}

	.container:last-of-type{
		flex-grow: 2;
	}

	.back-button{
		text-align: left;
		height: 50px;
			border: 2px solid blue;
		
	}


